/* Підключення фрифтів */

/* Google Fonts (Plugin) */
/* @import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap"); */

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
body {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  line-height: 1.2;
  background-color: #412672;
  /* background: linear-gradient(
    90deg,
    rgba(5, 3, 51, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(24, 204, 240, 1) 100%
  ); */
  color: #fff;
}
.wrapper {
  overflow: clip;
  min-height: 100%;
}
[class*="__container"] {
  max-width: 1236px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header,
.footer {
  font-size: 40px;
  text-shadow: 5px 5px 5px black;
  margin: 20px 0;
}
.first__title {
  text-align: center;
  padding-bottom: 30px;
}
.first__link {
  text-align: left;
  margin-top: 30px;
  transition: all 0.5s;
}
.first__link::before {
  content: "";
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background: url("../img/icons/arrow-top.svg") 0 0 no-repeat;
  background-size: contain;
  transition: all 0.5s;
  opacity: 0;
}
.first__link:hover::before {
  transform: scale(1.5);
  margin-right: 4px;
  opacity: 1;
}
.first__link:hover {
  text-decoration: underline;
}
.first__top::before {
  content: "";
  background: url("../img/icons/arrow-right.svg") 0 0 no-repeat;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background-size: contain;
  transform: rotate(180deg);
  opacity: 0;
}
.first__top:hover::before {
  transform: rotate(180deg);
  margin-right: 4px;
  opacity: 1;
}

/* ============================================= */

.team {
  background-color: #412672;
  padding-top: 61px;
  padding-bottom: 102px;
}
.team__title {
  font-size: 38px;
  font-weight: 700;
}
.team__title:not(:last-child) {
  margin-bottom: 31px;
}
.team__subtitle {
  font-weight: 400;
}
.team__cards {
  font-size: 0;
}
.team__card {
  background-color: #fff;
  vertical-align: top;
  padding: 20px;
  display: inline-block;
  max-width: 387px;
  margin-right: 15px;
  margin-bottom: 15px;
  min-height: 476px;
  transition: all 0.5s;
}
.team__card > * {
  margin-bottom: 16px;
}
.team__card:last-of-type {
  margin-right: 0;
}
.team__card:hover {
  background-color: #ffbe48;
}
.team__card-image {
  /* width: 100%; */
  width: 347px;
  height: 266px;
}
.team__card-title {
  color: #000;
  font-size: 22px;
  font-weight: 600;
}
.team__card-text {
  min-height: 76px;

  color: #4f4f4f;
  font-size: 15px;
  line-height: 1.2;
}
.team__card-link {
  color: #fe3f3f;
  font-size: 15px;
  /* transition: all 0.5s;	 */
  transition: all 0.8s ease 0s;
}
.team__card-link:hover {
  text-decoration: underline;
  transform: scale(1.1);
}
.team__card div p:not(:last-child) {
  margin-bottom: 15px;
}
.team__card > *:last-child {
  margin-bottom: 0;
}

/* =========================== */
.recomend {
  background-color: #fff;
  color: #412672;
  padding-top: 55px;
  padding-bottom: 72px;
  margin-bottom: 30px;
}
.recomend__content {
  /* margin-right: 90px; */
  display: inline-block;
  vertical-align: middle;
  max-width: 518px;
}
.recomend__content > * {
  margin-bottom: 20px;
}
.recomend__content-title {
  font-size: 34px;
}
.recomend__content-title span {
  font-weight: 700;
}
.recomend__content-text {
}
.recomend__content-items {
  color: #4f4f4f;
  font-size: 20px;
  /* line-height: 255%; 51/20 */
}
.recomend__content-item {
  padding-left: 44px;
  margin-bottom: 30px;
}
.recomend__content-item:last-child {
  margin-bottom: 0;
  
}
.recomend__content-item::before {
  content: "";
  width: 29px;
  height: 29px;
  background: url("../img/team/red-icon.svg") 0 0 no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 15px;
  margin-left: -44px;
  transition: all 0.8s ease 0s;
  display: block;
  margin-bottom: -29px;
}
.recomend__content-item:hover::before {
  transform: scale(1.5);
}

.recomend__content > *:last-child {
  margin-bottom: 0;
}
.recomend__image {
  display: inline-block;
  max-width: 680px;
}

/* ============================ */
.game {
  border: 12px double #1a7c06;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.game h2 {
  font-size: 30px;
  color: rgb(22, 236, 37);
  text-shadow: 3px 3px 3px black;
  margin-bottom: 40px;
}
[class*="step-"]:not(.step-0) {
  visibility: hidden;
  position: relative;
  background-color: #15ec4b;
  border: 3px double #222120;
}
[class*="step-"]:nth-child(n + 8) {
  background-color: rgb(229, 74, 22);
}
[class*="step-"]:nth-child(2n + 1) {
  background-color: rgb(236, 26, 156);
}
[class*="step-"]:nth-child(3n + 1) {
  background-color: rgb(59, 26, 193);
}
.step-0,
.step-12 {
  width: 250px;
  font-size: 25px;
  background-color: #176be1;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
.step-1 {
  width: 40px;
  height: 80px;
  margin-left: 100px;
}
.step-2 {
  width: 400px;
  height: 45px;
  margin-left: 100px;
}
.step-3 {
  width: 30px;
  height: 130px;
  margin-left: 470px;
}
.step-4 {
  width: 130px;
  height: 35px;
  margin-left: 370px;
}
.step-5 {
  width: 20px;
  height: 155px;
  margin-left: 370px;
}
.step-6 {
  width: 320px;
  height: 25px;
  margin-left: 370px;
}
.step-7 {
  width: 20px;
  height: 250px;
  margin-left: 670px;
}
.step-8 {
  width: 320px;
  height: 20px;
  margin-left: 370px;
}
.step-9 {
  width: 15px;
  height: 50px;
  margin-left: 370px;
}
.step-10 {
  width: 320px;
  height: 20px;
  margin-left: 370px;
}

.step-11 {
  width: 10px;
  height: 50px;
  margin-left: 680px;
}
.step-12 {
  margin-left: 560px;
}

.game > *:hover + *,
.game > *:hover {
  visibility: visible;
}
