/* =================== Підключення та скидання =================== */
@import url("reset.css"); /* Скидання стилів */
@import url("fonts.css"); /* Локальні шрифти */

/* =================== Глобальні стилі =================== */
body {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 18px;
  background: url("../img/fancy-cushion.webp") 100% 100% / 100%;
  color: #ffffff;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
}

[class*="__container"] {
  max-width: 1550px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

/* =================== HEADER =================== */
.header,
.footer {
  border: 5px solid #be8a07;
  background-color: #0b0b0bb4;
  border-radius: 10px;
  padding: 20px 0;
  margin: 20px 10px;
}

.title-hero {
  text-align: center;
  font-size: 36px;
}

.title-hero span {
  text-transform: uppercase;
  color: #be8a07;
}

/* =================== MAIN → Transform blocks =================== */
.items {
  text-align: center;
}

.items__title {
  max-width: 500px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  border: 3px solid #be8a07;
  border-radius: 10px;
  background-color: #0b0b0bb4;
  padding: 5px 0;
}

.block {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  margin: 30px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: rgba(123, 115, 115, 0.9);
}

.block--3d {
  perspective: 300px;
  transform-style: preserve-3d;
}

.block__item {
  transition: all 0.3s;
  width: 200px;
  height: 200px;
  background-color: #be8a07;
  border-radius: 10px;
  padding: 30px 20px;
  text-align: center;
  line-height: 30px;
}

/* ===== Translate ===== */
.block__item--translate:hover {
  transform: translate(20px, 20px);
}
.block__item--translate-x:hover {
  transform: translateX(30px);
}
.block__item--translate-y:hover {
  transform: translateY(-20px);
}
.block__item--translate-3d:hover {
  transform: translate3d(20px, 20px, 50px);
}

/* ===== Scale ===== */
.block__item--scale:hover {
  transform: scale(0.8);
}
.block__item--scale-x:hover {
  transform: scaleX(0.5);
}
.block__item--scale-y:hover {
  transform: scaleY(0.5);
}
.block__item--scale-3d:hover {
  transform: scale3d(0.5, 0.5, 1.4);
}

/* ===== Rotate ===== */
.block__item--rotate:hover {
  transition: all 0.8s;
  transform: rotate(360deg);
}
.block__item--rotate-x:hover {
  transform: rotateX(50deg);
}
.block__item--rotate-y:hover {
  transform: rotateY(50deg);
}
.block__item--rotate-3d:hover {
  transform: rotate3d(1, 1, 1, 40deg);
}

/* ===== Skew ===== */
.block__item--skew:hover {
  transition: all 0.8s;
  transform: skew(-10deg, 0deg);
}
.block__item--skew-x:hover {
  transition: all 0.8s;
  transform: skewX(20deg);
}
.block__item--skew-y:hover {
  transition: all 0.8s;
  transform: skewY(-15deg);
}

/* ===== Matrix ===== */
.block__item--matrix:hover {
  transform: translate(10%, 10%) scale(0.8) rotate(20deg) skew(15deg, 15deg);
}

/* ===== Origin ===== */
.block__item--origin:hover {
  transform-origin: top right;
  rotate: 30deg;
}
.block__item--origin-top:hover {
  transform-origin: 30px 30px;
  scale: 0.8;
}

/* ===== Translate + Scale ===== */
.block__item--translate-scale:hover {
  transform: translate3d(30px, 30px, 30px) scale3d(0.8, 0.8, 1.5);
}

/* =================== MAIN → Money & Coin =================== */
.money {
  display: inline-block;
}

.money__body {
  position: relative;
  perspective: 800px;
}

.money__back,
.money__front {
  width: 500px;
  transition: all 0.5s;
  overflow: hidden;
}

.money__back {
  transform: rotateX(180deg);
  position: absolute;
  top: 0;
  left: 0;
}

.money__front {
  backface-visibility: hidden;
  transform: rotateX(0deg);
}

.money__body:hover .money__back {
  transform: rotateX(0deg);
}
.money__body:hover .money__front {
  transform: rotateX(-180deg);
}

.coin {
  margin-left: 30px;
  display: inline-block;
}

.coin__body {
  position: relative;
  perspective: 800px;
}

.coin__back,
.coin__front {
  width: 300px;
  border-radius: 50%;
  transition: all 1s;
  overflow: hidden;
}

.coin__back {
  transform: rotateY(360deg);
  position: absolute;
  top: 0;
  left: 0;
}

.coin__front {
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.coin__body:hover .coin__back {
  transform: rotateY(0);
}
.coin__body:hover .coin__front {
  transform: rotateY(-360deg);
}

/* =================== MAIN → Buttons =================== */
.button-start,
.light-front,
.light-back {
  position: relative;
  top: 230px;
  left: 650px;
  width: 150px;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid black;
  background-color: #2f2d2db7;
  border-radius: 10px;
  z-index: 5;
  transition: all 0.5s;
}

.button-start:hover {
  color: green;
}
.light-front:hover {
  color: yellow;
}
.light-back:hover {
  color: red;
}

.light-back:hover ~ .transport .transport__light-red {
  box-shadow: 0 0 20px 30px rgb(255, 19, 2), 0 0 40px 30px rgb(255, 19, 2);
  border: 0;
}
.light-back:hover ~ .transport .transport__door::after {
  transform-origin: right;
  transform: translateX(30px) scale(1.05);
}
.light-back:hover ~ .transport .transport__door::before {
  transform-origin: right;
  transform: translateX(-30px) scale(1.05);
}
.button-start:hover ~ .transport .wheel {
  transform: rotate(10000deg);
  background-color: yellow;
}
.button-start:hover ~ .transport .transport__light {
  box-shadow: 0 0 20px 20px rgba(255, 255, 0, 0.8),
    0 0 40px 30px rgba(255, 255, 0, 0.6);
  border: 0;
}

/* =================== MAIN → Transport (Bus) =================== */
.transport__bg {
  position: relative;
  background: url("../img/street.jpg") 100% 100% no-repeat;
  max-width: 1200px;
  height: 700px;
  background-size: contain;
  margin: 0 auto;
}

.transport__top {
  position: absolute;
  bottom: 258px;
  left: 26%;
  max-width: 780px;
  width: 100%;
  height: 170px;
  background-color: rgb(210, 15, 15);
  border-radius: 80px 20px 0 0;
  border-top: 5px solid black;
  border-right: 10px solid black;
  border-left: 5px solid black;
}

.transport__body {
  position: absolute;
  bottom: 10%;
  left: 25%;
  width: 800px;
  height: 200px;
  background-color: rgb(210, 15, 15);
  border-radius: 35px 20px 0 0;
  border: 5px solid black;
  border-top: 8px solid rgba(0, 0, 0, 0.854);
}

/* === Windows === */
.transport__window {
  position: absolute;
  top: 20px;
  width: 100px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.938);
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: inset 5px 2px 2px rgb(40, 39, 39);
}

.transport__window:not(.transport__window--0)::before {
  content: "";
  position: absolute;
  top: 0;
  left: -3px;
  z-index: 5;
  width: 105px;
  height: 62px;
  background-color: rgba(24, 13, 13, 0.541);
  border-radius: 5px;
}

.transport__window-line::after {
  content: "";
  position: absolute;
  top: 13px;
  left: -5px;
  width: 110px;
  height: 5px;
  background-color: rgb(210, 15, 15);
}

/* === Chairs === */
.transport__chair {
  width: 5px;
  height: 20px;
  border-radius: 20px 0 0 0;
  background-color: black;
  position: absolute;
  bottom: -1px;
  left: 20px;
  transform-origin: bottom;
  transform: rotate(20deg);
}
.transport__chair--left {
  left: 75px;
}

/* === Window positions === */
.transport__window--0 {
  left: 10px;
  width: 50px;
}
.transport__window--1 {
  left: 70px;
}
.transport__window--2 {
  left: 190px;
}
.transport__window--3 {
  left: 310px;
}
.transport__window--4 {
  left: 430px;
}
.transport__window--5 {
  left: 550px;
}

/* === Title & Tablo === */
.transport__title {
  position: absolute;
  top: 100px;
  left: 40px;
  text-transform: uppercase;
  font-size: 30px;
  background-color: #fff;
  max-width: 500px;
  padding: 5px;
  margin-left: 100px;
  width: 100%;
  text-align: center;
  color: black;
  font-weight: 700;
  border: 2px solid black;
}
.transport__title::before,
.transport__title::after {
  position: absolute;
  top: -8px;
  border: 2px solid black;
  content: "";
  background: url("../img/flag.jpg") 100% 100% no-repeat;
  background-size: contain;
  width: 95px;
  height: 55px;
}
.transport__title::before {
  left: -2px;
}
.transport__title::after {
  right: -2px;
}

.transport__tablo {
  position: absolute;
  top: 98px;
  left: 20px;
  font-size: 24px;
  background-color: black;
  padding: 8px 20px;
  border-radius: 10px 0 0 10px;
  box-shadow: 4px 4px 5px white;
}

.transport__driver {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 57px;
  border-radius: 5px;
}

/* === White lines === */
.transport__line-white {
  position: relative;
  top: 90px;
  width: 780px;
  height: 5px;
  background-color: white;
  z-index: 1;
}
.transport__line-white--bottom {
  top: 100px;
}

/* === Bumper === */
.transport__bamper {
  position: absolute;
  bottom: 0px;
  left: -1px;
  border-radius: 0 20px 20px 0;
  width: 40px;
  height: 20px;
  background-color: #161616;
}

/* === Wheels === */
.wheels__back {
  position: absolute;
  top: -29px;
  left: -14px;
  width: 100px;
  height: 65px;
  background-color: rgba(0, 0, 0, 0.97);
  border: 1px solid white;
  border-radius: 100% 20% 0 0;
  z-index: 5;
}
.wheels {
  position: absolute;
  bottom: -50px;
  right: 25%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 15px double black;
  background-color: white;
}
.wheel {
  transition: all 1s;
  position: relative;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  background-color: red;
  border: 5px dashed black;
  border-radius: 50%;
}
.wheel::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  border: 20px solid black;
  top: 5px;
  left: 5px;
}
.transport__wheels--left {
  left: 80px;
}

/* === Back line === */
.transport__back-line {
  position: absolute;
  right: 0;
  bottom: 15px;
  width: 10px;
  height: 180px;
  background-color: black;
}

/* === Door === */
.transport__door {
  position: absolute;
  bottom: -3px;
  right: 40px;
  width: 85px;
  height: 140px;
  background-color: rgb(42, 6, 6);
  border-radius: 10px 20px 0 0;
  border: 2px solid black;
  box-shadow: inset 0 1px 5px rgba(255, 255, 255),
    inset 0 -5px 5px rgb(255, 255, 255);
  z-index: 5;
}
.transport__door::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 140px;
  background-color: #120303;
  border: 1px solid white;
  border-radius: 10px 0 0 0;
  transition: all 0.8s;
  z-index: 7;
}
.transport__door::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 41px;
  height: 140px;
  background-color: #120303;
  border: 1px solid white;
  border-radius: 0 17px 0 0;
  transition: all 0.8s;
}
.transport__door:hover:after {
  transform-origin: right;
  transform: translate(30px);
}
.transport__door:hover::before {
  transform-origin: left;
  transform: translate(-30px);
}

.door__line {
  position: absolute;
  left: 0;
  background-color: rgba(75, 73, 73, 0.8);
  border-top: 3px groove black;
  border-right: 3px groove black;
  border-radius: 0 5px 0 0;
  box-shadow: 1px 1px 1px black;
  transition: all 0.8s ease;
}
.transport__door:hover .door__line {
  transform: scale(1.2);
}
.door__line {
  bottom: 0;
  width: 80px;
  height: 10px;
}
.door__line--a {
  bottom: 10px;
  width: 75px;
}
.door__line--b {
  bottom: 20px;
  width: 70px;
}
.door__line--c {
  bottom: 30px;
  width: 65px;
}
.door__line--d {
  bottom: 40px;
  width: 60px;
}
.door__line--e {
  bottom: 50px;
  width: 55px;
}
.door__line--f {
  bottom: 60px;
  width: 50px;
}
.door__line--g {
  bottom: 70px;
  width: 45px;
}
.door__line--h {
  bottom: 80px;
  width: 40px;
}
.door__line--i {
  bottom: 90px;
  width: 35px;
}
.door__line--j {
  bottom: 100px;
  width: 30px;
}
.door__line--k {
  bottom: 110px;
  width: 25px;
}

/* === Lights === */
.transport__light,
.transport__light-red {
  transition: all 0.8s;
  position: absolute;
  border-radius: 20px;
  border: 1px solid black;
}
.transport__light {
  bottom: 20px;
  left: -8px;
  width: 15px;
  height: 40px;
  background-color: #eaed06;
}
.transport__light-red {
  bottom: 20px;
  right: -8px;
  width: 15px;
  height: 50px;
  background-color: #fa1313;
}

/* =================== FOOTER =================== */
.footer__title-hero {
  font-size: 24px;
  text-align: center;
}
